<!DOCTYPE html>
<html>
  <head>
    <title>Boxen</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if view.secondary_message %>
      <p><strong>One thing before you start &nbsp;</strong><%= view.secondary_message.html_safe %></p>
    <% end %>
    <div id="width">
      <h1>Welcome to Boxen</h1>
      <h2> Run this command in your terminal to install Boxen on your machine:</h2>
      <div class="code">
        curl -s <a href="<%= view.script_path %>"><%= view.script_url %></a> > /tmp/install-boxen; 
        bash /tmp/install-boxen
      </div>
    </div>
  </body>
</html>
